<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/site.webmanifest")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        title frontend references
    body
        mixin list(indexOne, indexTwo)
            each keyword, index in randomKeywords
                if index >= indexOne && index < indexTwo
                    li= keyword
        #keywords-container
            ul
                +list(0, 572)
            ul
                +list(572, 1144)
            ul
                +list(1144, 1716)
            ul
                +list(1716, 2288)
            ul
                +list(2288, 2860)
            ul
                +list(2860, 3432)
            ul
                +list(3432, 4004)
            ul
                +list(4004, 4576)
            ul
                +list(4576, 5148)
            ul
                +list(5148, 5725)
        #intro
            p Find out the meaning and functionality of any keyword related to frontend web design or development, whether it's an HTML, SVG, or MathML element, CSS property, JavaScript statement, or an API's method.
            label(for="text-input") Keyword: &nbsp;
                #input-datalist-container
                    input#text-input.border-focus(type="text", placeholder="e.g. required")
                    datalist.hide
                        each keywordParent in Object.keys(keywordsWithURLs)
                            each mdnURL, keyword in keywordsWithURLs[keywordParent]
                                case keywordParent
                                    when 'apiKeywords': option.hide(data-url=mdnURL, data-keyword-type="api")= keyword
                                    when 'cssAtRulesKeywords': option.hide(data-url=mdnURL, data-keyword-type="css")= keyword
                                    when 'cssPropertiesKeywords': option.hide(data-url=mdnURL, data-keyword-type="css")= keyword
                                    when 'cssTypesKeywords': option.hide(data-url=mdnURL, data-keyword-type="css")= keyword
                                    when 'htmlElementsKeywords': option.hide(data-url=mdnURL, data-keyword-type="html")= keyword
                                    when 'htmlGlobalAttributesKeywords': option.hide(data-url=mdnURL, data-keyword-type="html")= keyword
                                    when 'htmlManifestKeywords': option.hide(data-url=mdnURL, data-keyword-type="html")= keyword
                                    when 'javascriptBuiltinsKeywords': option.hide(data-url=mdnURL, data-keyword-type="js")= keyword
                                    when 'javascriptClassesKeywords': option.hide(data-url=mdnURL, data-keyword-type="js")= keyword
                                    when 'javascriptFunctionsKeywords': option.hide(data-url=mdnURL, data-keyword-type="js")= keyword
                                    when 'javascriptGrammarKeywords': option.hide(data-url=mdnURL, data-keyword-type="js")= keyword
                                    when 'javascriptOperatorsKeywords': option.hide(data-url=mdnURL, data-keyword-type="js")= keyword
                                    when 'javascriptStatementsKeywords': option.hide(data-url=mdnURL, data-keyword-type="js")= keyword
                                    when 'mathmlElementsKeywords': option.hide(data-url=mdnURL, data-keyword-type="mathml")= keyword
                                    default: option.hide(data-url=mdnURL, data-keyword-type="svg")= keyword
            footer
                p#credits *A big shout out to everyone that contributes to 
                    a(href="https://developer.mozilla.org", target="_blank") MDN Web Docs
                    |  . This project wouldn't have been a success without MDN.*
                p#me Made with 
                    span.red &hearts;
                    |  by 
                    button.my-name Idorenyin Udoh
        #search-results.hide
            header
                button.back.material-icons arrow_back
                p#search-results-text Results for "
                    span#search-term
                    | "
            iframe(src="", frameborder="0")

        script(src="pageInteraction.js")